COMPOSE_PROJECT_NAME=geeknow-docs
NODE_IMAGE=node:24.13.0-bookworm-slim
NPM_REGISTRY=
MINTLIFY_CONTAINER_NAME=geeknow-docs-mintlify
MINTLIFY_HOST_PORT=3000
MINTLIFY_INTERNAL_PORT=3000
DOCS_DIR=.
CHOKIDAR_USEPOLLING=true
WATCHPACK_POLLING=true
